.section {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.args {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 2px;
}

.label {
    color: white;
}