

.content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    --right-width: 350px;
    --bottom-height: 250px;
}

.label {
    color: white;
}

.contentTop {
    height: calc(100% - var(--bottom-height));

    width: 100%;

    display: flex;
    flex-direction: row;
}

.contentBottom {
}

.center {
    flex: 1;
    width: calc(100% - var(--right-width));
    display: flex;
    flex-direction: column;
}

.mapControls {
    display: flex;
    flex-direction: row;
    gap: 5px;

    padding-left: 5px;
}

.mapControlSection {
    font-weight: bold;
    font-size: large;
    border-right: 2px black solid;
    padding-right: 10px;
    color: white;
}

.mapControlEntry {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mapControlLabel {
    font-weight: bold;
    color: white;
}

.map {
    flex-grow: 1;

    border: 1px black solid;
    background-color: rgb(52, 52, 52);
    padding: 15px;

    overflow: scroll;
}

.right {
    min-width: var(--right-width);
    max-width: var(--right-width);

    display: flex;
    flex-direction: column;

    gap: 5px;

    padding: 5px;

    border: solid 1px #282c34;
}

.toolList {
    height: 100%;
    overflow-y: scroll;
}

.modifiers {
    display: inline-block;
    padding: 0;
    flex-grow: 1;
}

.addModifier {
    display: inline-block;
    margin: 0 0 0 auto;
}

.actions {
}

.toolSection {
    border: solid 1px black;
    border-radius: 7px;
    background-color: rgb(43, 40, 40);
}

.toolTitle {
    color: white;
    background-color: rgb(49, 49, 49);
}