.panel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

.tabEntry {
    background-color: lightgray;
    width: 150px;
    border: 1px black solid;
    border-bottom: 0;
}

.tabCurrent {
    background-color: gray;
}

.tabButton {
    width: 100%;
    border: none;
    background-color: inherit;
}

.contents {
    flex: 1;
    background-color: gray;
}