.page {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.title {
    font-size: 30px;
    height: 50px;
    background-color: rgb(49,49,49);
    padding-left: 10px;
}

.content {
    flex-grow: 1;
    padding: 10px 20px
}