.page {
    display: flex;
    flex-direction: column;
    height: 100%
}

.title {
    font-size: 30px;
    height: 50px;
    background-color: rgb(49,49,49);
    padding-left: 10px;
}

.content {
    height: calc(100% - 50px);
}